<%= javascript_include_tag "canvas/canvas.js" %>

<p id="notice"><%= notice %></p>

<canvas id="boardCanvas" width="<%= @board.width %>" height="<%= @board.height %>" >
</canvas>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
