<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Height:</b>
  <%= @board.height %>
</p>

<p>
  <b>Width:</b>
  <%= @board.width %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
